.content {
    margin: 100px auto;
}

.login-form .form-group .input-group,
.sms-form .form-group .input-group,
.checkbox {
    width: 100%;
}

.sms, .login, .checkbox {
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper{
    width: 40%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -1px 10px 28px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 10px 28px 0px rgba(0,0,0,0.45);
    box-shadow: -1px 10px 28px 0px rgba(0,0,0,0.45);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.send-sms-btn {
    width: 100%;
}

.add-contact {
    margin: 10px 0px;
    text-align: center;
}

.fa-mobile {
    font-size: xx-large;
}

.contact-number {
    height: 55px;
}

.add-new-contact-btn {
    background-color: #fff;
    color: black;
}

.contact-table {
    margin-top:10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
}

.select2-selection--multiple {
    height: 54px;
    border: 1px solid #aaa;
}

.select2 {
    width: 100%!important;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    padding: 10px 5px;
}

li a {
    outline: none!important;
}

.select2-search__field {
    width: 100% !important;
}
.fa-trash-o {
    color: red;
}

.fa-pencil{
    color: blue;
}

.select2-container-multi {
    width: 100%;
}
.fa-pencil, .fa-trash-o, .fa-envelope {
    font-size: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgba(24, 188, 156, 0.57);
    border: 1px solid #18bc9c;
    border-radius: 0px;
}


.select2-container-multi .select2-choices .select2-search-choice {
    padding: 5px 5px 6px 19px;
    margin: 12px 0 3px 5px;
    border: 1px solid #030E27;
    border-radius: 5px;
}
@media only screen and (max-width: 1024px) {
    .form-wrapper {
        width: 100%;
    }
}